{% extends 'AcmeBlogBundle::layout.html.twig' %}

{% block body%}
<div class="block-exception">
    <div class="block-exception-detected clear-fix">

            <h1>
                {{ exception.message|nl2br|format_file_from_text }}
            </h1>

    </div>
</div>
{% endblock %}
